<div>
    <div class="pic-hex pic-hex-point"><div class="pic-hex-2"><div class="pic-hex-3"></div></div></div>

    <h1 class="sidebar-title">Jean Pierre Blanchette</h1>

    <div class="sidebar-desc">
        <strong>
            <span class="sidebar-desc-line">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Front-end_web_development"
                title="Wikipedia: Front-end web development">Senior Front End Developer</a>
            </span>
            <div class="sidebar-desc-break visible-xs visible-md"></div>
            <span class="sidebar-desc-line">
                in <a target="_blank" href="https://www.google.ca/maps/place/Toronto,+ON"
                title="Google Maps: Toronto">Toronto, Ontario, Canada</a>
            </span>
        </strong>
    </div>
</div>
