<div class="project-wrapper" ng-if="vm.selectedSite !== null">
    <h2 class="project-title">{{ vm.selectedSite.title }} <small>{{ vm.selectedSite.year }}</small></h2>

    <div ng-if="vm.selectedSite.url" class="project-url">
        <a target="_blank" href="{{ vm.selectedSite.url }}">{{ vm.selectedSite.url }} <i class="fa fa-external-link"></i></a>
    </div>

    <div ng-if="vm.selectedSite.intro" class="project-intro">
        {{ vm.selectedSite.intro }}
    </div>

    <div ng-if="vm.selectedSite.screens > 0" class="project-screens-wrap">
        <ul class="project-screens-list">
            <li ng-repeat="i in vm.getNumberArray(vm.selectedSite.screens) track by $index">
                <a target="_blank" href="/img/screens/{{ vm.selectedSite.category }}/{{ vm.selectedSite.project }}/source/{{ $index + 1 }}.png">
                    <img class="img-responsive" ng-src="/img/screens/{{ vm.selectedSite.category }}/{{ vm.selectedSite.project }}/{{ $index + 1 }}.png" alt="{{ vm.selectedSite.project }} #{{ $index + 1 }}">
                </a>
            </li>
        </ul>
    </div>
</div>
